body {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgb(34, 162, 134);
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav a:hover {
  color: rgb(34, 162, 134);
}

img {
  width: 300px;
  height: auto;
}

.main-image img {
  width: 500px;
  height: auto;
}
